/* ==UserStyle==
@name           Amazon Privacy (Freso’s Version)
@namespace      https://freso.dk/
@version        2024.10.19
@description    Hide your name and address on Amazon’s websites – helpful to protect the identity for streamers and other people who screenshare
@author         Freso, inspired by ioangogo’s “amazon privacy” userstyle
@homepageURL    https://codeberg.org/Freso/userstyle-amazon-privacy
@supportURL     https://codeberg.org/Freso/userstyle-amazon-privacy/issues
@updateURL      https://codeberg.org/Freso/userstyle-amazon-privacy/raw/branch/main/amazon-privacy.user.css
@license        AGPL-3.0-or-later
@preprocessor   stylus
@var            checkbox hide "Hide items entirely, don’t just blur them" 0
@var            range blur "Set blur amount" [10, 0, 'px']
==/UserStyle== */

@-moz-document url-prefix("https://www.amazon."), url-prefix("https://smile.amazon."), url-prefix("https://amazon.")

  .nav-line-1-container
  #cipInsideDeliveryBlock_feature_div
  #nav-global-location-slot
  #glow-toaster-body > span > strong
    filter: blur(blur) !important
    if hide
      display: none !important
